* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAB6DC;
}

header {
    height: 20vh;
    background-color: black;
}

#wrapper {
    margin: 10px;
}

.chatbox {
    height: 60px;
    margin: 10px;
}

.XB {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    letter-spacing: 1px;
}

.WZ {
    background-color: yellow;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupOfReply, .groupOfAns{
    background-color: yellow;
    position: absolute;
}

.reply, .answer {
    display: inline-block;
    margin: 0 1;
    font-family: 'Share Tech Mono', monospace;
}
